*{
    padding: 0px;
    margin: 0px;
}

/*Estilização do cabeçalho*/

header{
    width: 100%;
    height: 90px;
    background-color: #e8f1f2;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 3px solid #13293d;
    position: fixed;
}

#divParaCentralizar{
    width: 1200px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#divLogoMenu{
    width: 135px;
    height: 75px;
    background-color: aqua;
    margin-left: 100px;
    box-sizing: border-box;
}

#menu{
    width: 660px;
    height: inherit;
    box-sizing: border-box;
}

#listaMenu{
    width: 660px;
    height: inherit;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.itemListaMenu{
    width: 140px;
    height: 40px;
    box-sizing: border-box;
    float: left;
    margin-left: 20px;
    list-style: none;
    font-family: verdana;
    font-size: 0.9em;
    text-align: center;
    padding-top: 10px;
    background-color: #e8f1f2;
    color: black;
}

.itemListaMenu:hover{
    background-color: #13293d;
    cursor: pointer;
    color: #e8f1f2;
}

#divRedesSociais{
    width: 270px;
    height: 70px;
    box-sizing: border-box;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.redeSocial{
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    margin-right: 15px;
}

.iconeRedeSocial{
    width: 50px;
    height: 50px;
    box-sizing: border-box;
}

/*Estilização do banner*/

#divBanner1{
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    background-image: url(../img/banner1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border-bottom: 3px solid #13293d;
    display: flex;
    align-items: center;
    justify-content: center;
}

#fraseBanner{
    width: 400px;
    height: 200px;
    background-color: RGBA(19, 41, 61, 0.4);
    color: #e8f1f2;
    font-size: 1.5em;
    box-sizing: border-box;
    padding-left: 10px;
    padding-top: 40px;
}

/* Estilização do conteudo*/

main{
    width: 100%;
    height: 5000px;
    background-color: #e8f1f2;
    margin-left: auto;
    margin-right: auto;
}

#conteudo{
    width: 1200px;
    height: 710px;
    background-color: #e8f1f2;
    margin-left: auto;
    margin-right: auto;
}

#divSobre{
    width: 1200px;
    height: 705px;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.divInformacoes{
    width: 300px;
    height: 570px;
    border: 1px solid #12393d;
    box-sizing: border-box;
    margin-left: 45px;
    margin-right: 40px;
    border-radius: 10px;
}

.imagemInformacoes{
    width: 298px;
    height: 130px;
    background-color: #12393d;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tituloInformacoes{
    width: 298px;
    height: 35px;
    background-color: #006594;
    text-align: center;
    box-sizing: border-box;
    padding-top: 8px;
    color: #e8f1f2;
    font-size: 1.1em;
}

#tituloInformacoesSobre{
    width: 298px;
    height: 35px;
    background-color: #247ba0;
    text-align: center;
    box-sizing: border-box;
    padding-top: 8px;
    color: #e8f1f2;
    font-size: 1.1em;
}

.textoInformacoes{
    width: 278px;
    height: 403px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    font-family: verdana;
    font-size: 1.3em;
}

/* Estilização do segundo banner*/

#divBanner2{
    width: 100%;
    height: 400px;
    box-sizing: border-box;
    background-image: url(../img/banner1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border-top: 3px solid #13293d;
    border-bottom: 3px solid #13293d;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Estilização do HTML e CSS*/

#conteudoVisual{
    width: 1200px;
    height: 650px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}

#divHTML{
    width: 1200px;
    height: 325px;
    background-color: orangered;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

#circuloHTML{
    width: 300px;
    height: 300px;
    background-color: #e8f1f2;
    border: 3px solid #247ba0;
    color: #247ba0;
    border-radius: 200px;
    margin-left: 40px;
    text-align: center;
    padding-top: 100px;
    font-family: verdana;
    font-size: 2.8em;
    box-sizing: border-box;
}

#divCSS{
    width: 1200px;
    height: 325px;
    background-color: dodgerblue;
    margin-left: auto;
    margin-right: auto;
}
