*{
    padding: 0px;
    margin: 0px;
}

/*Estilização do cabeçalho*/

a{
    text-decoration: none;
    color: #13293d;
}

header{
    width: 100%;
    height: 90px;
    background-color: #e8f1f2;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 3px solid #13293d;
    position: fixed;
    z-index: 999;
}

#divParaCentralizar{
    width: 1200px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#divLogoMenu{
    width: 135px;
    height: 75px;
    background-color: aqua;
    margin-left: 100px;
    box-sizing: border-box;
}

#menu{
    width: 660px;
    height: inherit;
    box-sizing: border-box;
}

#listaMenu{
    width: 660px;
    height: inherit;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.itemListaMenu{
    width: 140px;
    height: 40px;
    box-sizing: border-box;
    float: left;
    margin-left: 20px;
    list-style: none;
    font-family: verdana;
    font-size: 0.9em;
    text-align: center;
    padding-top: 10px;
    background-color: #e8f1f2;
    color: #13293d;
}

.itemListaMenu:hover{
    background-color: #13293d;
    cursor: pointer;
    color: #e8f1f2;
}

.itemListaMenuVisual:hover{
    background-color: #13293d;
    cursor: pointer;
    color: #e8f1f2;
}

.itemListaMenuVisual:hover > #subMenuVisual{
    opacity: 1;
    visibility: visible;
}

.itemListaMenuVisual{
    width: 140px;
    height: 40px;
    box-sizing: border-box;
    float: left;
    margin-left: 20px;
    list-style: none;
    font-family: verdana;
    font-size: 0.9em;
    text-align: center;
    padding-top: 10px;
    background-color: #e8f1f2;
    color: #13293d;
}

#subMenuVisual{
    width: 144px;
    height: 83px;
    margin-top: -28px;
    background-color: #13293d;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    box-sizing: border-box;
    border-left: 2px solid #13293d;
    border-right: 2px solid #13293d;
    border-bottom: 1px solid #13293d;
}

.itemListaSubMenu{
    width: 140px;
    height: 40px;
    box-sizing: border-box;
    list-style: none;
    font-family: verdana;
    font-size: 0.9em;
    text-align: center;
    padding-top: 10px;
    background-color: #e8f1f2;
    color: #13293d;
}

.itemListaSubMenu:hover{
    background-color: #13293d;
    cursor: pointer;
    color: #e8f1f2;
}

#subMenuLinguagem{
    width: 144px;
    height: 203px;
    margin-top: -28px;
    background-color: #13293d;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    box-sizing: border-box;
    border-left: 2px solid #13293d;
    border-right: 2px solid #13293d;
    border-bottom: 1px solid #13293d;
}

.itemListaMenuLinguagem{
    width: 140px;
    height: 40px;
    box-sizing: border-box;
    float: left;
    margin-left: 20px;
    list-style: none;
    font-family: verdana;
    font-size: 0.9em;
    text-align: center;
    padding-top: 10px;
    background-color: #e8f1f2;
    color: #13293d;
}

.itemListaMenuLinguagem:hover{
    background-color: #13293d;
    cursor: pointer;
    color: #e8f1f2;
}

.itemListaMenuLinguagem:hover > #subMenuLinguagem {
    opacity: 1;
    visibility: visible;
}

#divRedesSociais{
    width: 270px;
    height: 70px;
    box-sizing: border-box;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.redeSocial{
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    margin-right: 15px;
}

.iconeRedeSocial{
    width: 50px;
    height: 50px;
    box-sizing: border-box;
}

/*Estilização do banner*/

#divBanner1{
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    background-image: url(../img/banner1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border-bottom: 3px solid #13293d;
    display: flex;
    align-items: center;
    justify-content: center;
}

#fraseBanner{
    width: 400px;
    height: 200px;
    background-color: RGBA(19, 41, 61, 0.4);
    color: #e8f1f2;
    font-size: 1.5em;
    box-sizing: border-box;
    padding-left: 10px;
    padding-top: 40px;
}

/* Estilização do conteudo*/

main{
    width: 100%;
    height: 6050px;
    background-color: #e8f1f2;
    margin-left: auto;
    margin-right: auto;
}

#conteudo{
    width: 1200px;
    height: 710px;
    background-color: #e8f1f2;
    margin-left: auto;
    margin-right: auto;
}

#divSobre{
    width: 1200px;
    height: 705px;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.divInformacoes{
    width: 300px;
    height: 570px;
    border: 1px solid #12393d;
    box-sizing: border-box;
    margin-left: 45px;
    margin-right: 40px;
    border-radius: 10px;
}

.imagemInformacoes{
    width: 298px;
    height: 130px;
    background-color: #12393d;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tituloInformacoes{
    width: 298px;
    height: 35px;
    background-color: #006594;
    text-align: center;
    box-sizing: border-box;
    padding-top: 8px;
    color: #e8f1f2;
    font-size: 1.1em;
}

#tituloInformacoesSobre{
    width: 298px;
    height: 35px;
    background-color: #247ba0;
    text-align: center;
    box-sizing: border-box;
    padding-top: 8px;
    color: #e8f1f2;
    font-size: 1.1em;
}

.textoInformacoes{
    width: 278px;
    height: 403px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    font-family: verdana;
    font-size: 1.3em;
}

/* Estilização do segundo banner*/

#divBanner2{
    width: 100%;
    height: 400px;
    box-sizing: border-box;
    background-image: url(../img/banner1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border-top: 3px solid #13293d;
    border-bottom: 3px solid #13293d;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Estilização do HTML e CSS*/

#conteudoVisual{
    width: 1200px;
    height: 750px;
    margin-left: auto;
    margin-right: auto;
}

#divHTML{
    width: 1200px;
    height: 325px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    display: flex;
    align-items: center;
}

#circuloHTML{
    width: 300px;
    height: 300px;
    background-color: #e8f1f2;
    border: 10px solid #13293d;
    color: #13293d;
    border-radius: 200px;
    margin-left: 40px;
    text-align: center;
    padding-top: 110px;
    font-family: verdana;
    box-sizing: border-box;
    font-weight: bold;
}

#spanHTML{
    font-size: 2.8em;
}

#circuloHTML:hover{
    border: 10px solid #e8f1f2;
    color: #e8f1f2;
    background-color: #13293d;
}

#circuloHTML:hover > #codigoHTML{
    opacity: 1;
    visibility: visible;
    transition: 1s;
}

#codigoHTML{
    width: 760px;
    height: 280px;
    box-sizing: border-box;
    border-right: 10px solid #13293d;
    border-bottom: 5px solid #13293d;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #13293d;
    opacity: 0;
    visibility: hidden;
    box-sizing: border-box;
    margin-left: 310px;
    margin-top: -164px;
    font-family: verdana;
    font-size: 1.2em;
    padding: 20px;
    color: #e8f1f2;
    position: absolute;
}

#textoHTML{
    width: 750px;
    height: 280px;
    box-sizing: border-box;
    border-right: 10px solid #13293d;
    border-bottom: 5px solid #13293d;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 10px;
    margin-left: 30px;
    font-family: verdana;
    font-size: 1.2em;
    padding: 20px;
}

#divCSS{
    width: 1200px;
    height: 325px;
    /*border-top: 10px solid #13293d;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;*/
    margin-top: 30px;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

#textoCSS{
    width: 750px;
    height: 280px;
    box-sizing: border-box;
    border-left: 10px solid #13293d;
    border-bottom: 5px solid #13293d;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 10px;
    margin-left: 40px;
    font-family: verdana;
    font-size: 1.2em;
    padding: 20px;
}

#circuloCSS{
    width: 300px;
    height: 300px;
    background-color: #e8f1f2;
    border: 10px solid #13293d;
    color: #13293d;
    border-radius: 200px;
    margin-left: 30px;
    text-align: center;
    padding-top: 110px;
    font-family: verdana;
    box-sizing: border-box;
    font-weight: bold;
}

#spanCSS{
    font-size: 2.8em;
}

#circuloCSS:hover{
    border: 10px solid #e8f1f2;
    color: #e8f1f2;
    background-color: #13293d;
}

#circuloCSS:hover > #codigoCSS{
    opacity: 1;
    visibility: visible;
    transition: 1s;
}

#codigoCSS{
    width: 760px;
    height: 280px;
    box-sizing: border-box;
    border-left: 10px solid #13293d;
    border-bottom: 5px solid #13293d;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #13293d;
    opacity: 0;
    visibility: hidden;
    box-sizing: border-box;
    margin-left: -790px;
    margin-top: -164px;
    font-family: verdana;
    font-size: 1.2em;
    padding: 20px;
    color: #e8f1f2;
    position: absolute;
}

/*Estilização do terceiro banner*/

#divBanner3{
    width: 100%;
    height: 400px;
    box-sizing: border-box;
    background-image: url(../img/banner3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border-top: 3px solid #13293d;
    border-bottom: 3px solid #13293d;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Estilização do conteudo principal*/

#conteudoPrincipal{
    width: 1200px;
    height: 1950px;
    margin-left: auto;
    margin-right: auto;
}

#programacao{
    width: 1200px;
    height: 340px;
    display: flex;
    align-items: center;
    margin-top: 25px;
    padding-bottom: 25px;
    border-bottom: 5px solid #13293d;
}

#programacao2{
    width: 1200px;
    height: 340px;
    display: flex;
    align-items: center;
    margin-top: 25px;
    padding-bottom: 25px;
    border-bottom: 5px solid #13293d;
}

#programacao3{
    width: 1200px;
    height: 340px;
    display: flex;
    align-items: center;
    margin-top: 25px;
    padding-bottom: 25px;
    border-bottom: 5px solid #13293d;
}

#programacao4{
    width: 1200px;
    height: 340px;
    display: flex;
    align-items: center;
    margin-top: 25px;
    padding-bottom: 25px;
    border-bottom: 5px solid #13293d;
}

#programacaoFim{
    width: 1200px;
    height: 340px;
    display: flex;
    align-items: center;
    margin-top: 25px;
    padding-bottom: 25px;
}

.informacoes{
    width: 450px;
    height: 320px;
    box-sizing: border-box;
    margin-left: 20px;
    border: 5px solid #13293d;
    border-radius: 30px;
    font-family: verdana;
    font-size: 1.2em;
    padding: 20px;
}

.circuloNome{
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    margin-left: 20px;
    border-radius: 200px;
    border: 5px solid #13293d;
    color: #13293d;
    text-align: center;
    font-family: verdana;
    box-sizing: border-box;
    font-weight: bold;
    padding-top: 110px;
}

.spanNome{
    font-size: 2.8em;
}

.programas{
    width: 370px;
    height: 300px;
    box-sizing: border-box;
    margin-left: 20px;
    border: 5px solid #13293d;
    border-radius: 30px;
}

.titulo{
    width: 100%;
    height: 50px;
    background-color: #13293d;
    color: #e8f1f2;
    font-family: verdana;
    font-size: 1.2em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
}

.lista{
    width: 100%;
    height: 240px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.itemLista{
    width: 300px;
    height: 30px;
    box-sizing: border-box;
    margin-left: 50px;
    padding-top: 20px;
    font-size: 1.2em;
    font-family: verdana;
}

/*Estilização banner4*/

#divBanner4{
    width: 100%;
    height: 400px;
    box-sizing: border-box;
    background-image: url(../img/banner3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border-top: 3px solid #13293d;
    border-bottom: 3px solid #13293d;
    display: flex;
    align-items: center;
    justify-content: center;
}

#conteudoDevelopers{
    width: 1200px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #e8f1f2;
}

.linha{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
}

.circuloDev{
    width: 305px;
    height: 305px;
    margin-left: 50px;
    margin-right: 50px;
    box-sizing: border-box;
    border-radius: 200px;
    border: 3px solid #13293d;
}

.img{
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    border-radius: 200px;
}

.circuloDev:hover > .textoImagem{
    opacity: 1;
    visibility: visible;
    transition: 1s;
}

.textoImagem{
    width: 400px;
    height: 400px;
    margin-top: -350px;
    margin-left: -50px;
    border-radius: 20px;
    border: 3px solid #13293d;
    visibility: hidden;
    opacity: 0;
    background-color: #e8f1f2;
    color: #13293d;
    position: absolute;
    font-family: verdana;
    font-size: 1.2em;
    padding: 20px;
}

footer{
    width: 100%;
    height: 100px;
    background-color: #13293d;
    text-align: center;
    color: #e8f1f2;
    font-family: verdana;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}




